body{
  background: 100% -webkit-linear-gradient(top, grey, white);
  background: 100% -o-linear-gradient(top, grey, white);
  background: 100% -moz-linear-gradient(top, grey, white);
  background: 100% linear-gradient(top, grey, white);
}

#Player{
  background-color: rgb(30, 30, 30);
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img{
  background-color: white;
}

img, #pbar-container, #sbar-container{
  cursor: pointer;
}

img:hover{
  background-color: #001582;
}

#vid-container{
  width: 640px;
  height: 360px;

  video{
  height: 100%;
  width: 100%;
  }
}

#pbar-container{
  height: 5px;
  background-color: white;
  padding-bottom: 2px;
  margin-top: 2px;

  #pbar{
  height: 5px;
  width: 50%;
  background-color: #001582;
  }
}

#buttons-container{
  height: 50px;
}

#buttons-container > * {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  // outline: 1px solid white;
  margin:  0 10px;
  }

#time-field{
  color: white;
  line-height: 50px;
  cursor: default;
}

#sound-button{
  margin-right: 0;
}

#sbar-container{
  margin-left: 0;
  width: 100px;
  height: 5px;
  background-color: white;

  #sbar{
    height: 100%;
    width: 50%;
    background-color: #001582;
  }
}

#fullscreen-button{
  float: right;
}
